extends layout

block content
  h1= title
  -let items = results
  div(class="container-fluid")
    div(class="row")
      each item,index in items
        div(class="col-sm-2",onClick=`buy(${index})`)
          p bags_name:  #{item.bags_name}
          p bags_type:  #{item.bags_type}
          p bags_cost:  #{item.bags_cost}
  script.
    function buy(N) {
      N=N+1;
      alert('You purchased item '+N);
    }